/* css for progress radial. Too Big but magical*/
.spinnerwrap {
    display: inline-block;
    height: 64px;
    width: 64px;
    position: relative;
    vertical-align: middle;


    .track {
        height: 100%;
        width: 100%;
        border: 4px solid #e1e1e1;
        border-radius: 50%;
        box-sizing: border-box;
    }

    .spinner2 {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        -webkit-animation: rotate90 1s linear infinite normal;
    }

    .circle2 {
        @apply border-theme-secondary;
        border-width: 4px;
        width: 200%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        box-sizing: border-box;
        border-bottom-color: transparent;
    }
    .circle-clipper2 {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
    }

    .left2 {
        top: 0;
        left: 0;
    }

    .right2 {
        right: 0;
        top: 0;
    }

    .right2 .circle2 {
        right: 0; /*border-right-color:blue;border-top-color:blue;*/
        border-left-color: transparent;
        transform: rotate(-45deg);
        animation: right-spin2 1s linear infinite normal;
    }

    .left2 .circle2 {
        border-right-color: transparent;
        transform: rotate(134deg);
        animation: left-spin2 1s linear infinite normal;
    }

}

@-webkit-keyframes right-spin2 {
    10% {
        transform: rotate(45deg);
    }
    32% {
        transform: rotate(45deg);
    }
    54% {
        transform: rotate(226deg);
    }
    to {
        transform: rotate(226deg);
    }

}

@-webkit-keyframes left-spin2 {
    from {
        opacity: 0;
    }
    9.499% {
        opacity: 0;
    }
    9.5% {
        transform: rotate(135deg);
        opacity: 1;
    }
    25% {
        transform: rotate(234deg);
    }
    85% {
        transform: rotate(405deg);
    }
    to {
        transform: rotate(405deg);
    }
}

@-webkit-keyframes rotate90 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
